body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.507)), url(./background-images/pexels-photo-681347.jpeg);
    background-size: cover;
    font-family: "ScaniaSansRegular",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;    
    line-height: 1.5;
    letter-spacing: 0;
    list-style: none;
}
aside {
    margin: 0 200px;
    
}
p {
    color: white;
    text-rendering: optimizeLegibility;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text{
    backdrop-filter: blur(10px);
    width: 1200px;
    padding: 150px;
    border-radius: 50px;
    overflow-x: auto;
    text-align: justify;
    box-shadow: 28px 20px 58px raba(8, e, e, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter:blur(8px);
    -webkit-backdrop-filter:biur(8px);
    
}
.slide1 {
    height: 60px;
    margin-top: 50px;
    padding: 50px;
}
.slide2 {
    height: 60px;
    margin-top: 50px;
    padding: 50px;
}
h1, h2 {
    color: white;
}
h1{
    font-size: 45px;
    height: 100px;
    margin-left: 0px;
    display: block;
}